.container {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    box-shadow: rgb(34 34 34 / 20%) 0px 0px 8px 0px, rgb(34 34 34 / 20%) 0px 0px 20px 0px;
    width: 550px;
    padding-top: 20px;
    text-align: center;
}

@media(max-width:767px) {
    .container {
        max-width: 350px;
    }
}