html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background:url("./background.jpg");
  background-position: center center;
  font-family: 'Montserrat', sans-serif;
}